name: Build Package

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Build Tools
        run: |
          pip install build

      - name: Build Wheel Package
        run: |
          python -m build

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: pyspark-package
          path: dist/
